*{
  margin: 0;
  padding: 0;
  /* background-color: rgb(51, 63, 233); */
}

.functionalities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 80vh;
  width: 50vw;
  margin: 10vh 25vw;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.functionalities:hover{
  border: 2px solid rgb(41, 0, 146);
}

.p-tag{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  /* font-weight: bold; */
}

.css-todo-name-input{
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
}

.css-due-date-input{
  position: absolute;
  top: 25%;
  left: 57%;
  transform: translateX(-50%);
  padding: 9px;
  cursor: pointer;
  border-radius: 5px;
}
.css-start-time-input{
  position: absolute;
  top: 32%;
  left: 43%;
  transform: translateX(-50%);
  padding:8px 15px;
  cursor: pointer;
  border-radius: 5px;
}
.css-end-time-input{
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  padding:8px 15px;
  cursor: pointer;
  border-radius: 5px;
}
.css-add-btn{
  position: absolute;
  top: 32%;
  left: 57%;
  transform: translateX(-50%);
  padding:11px 35px;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  background-color: rgb(41, 0, 146);
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

.css-add-btn:hover{
  background-color: rgb(189, 189, 189);
  color: rgb(0, 0, 0);

}

.task-list{
  margin-top: 30%;
   width: 50%;
    flex: 1;                 /* takes remaining space */
    overflow-y:scroll;        /* SCROLL BAR */
    padding: 10px;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE and Edge */
}
.todo-item{
  border: 2px solid black;
  margin: 10px 0px;
  padding:10px;
  border-radius: 5px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.todo-item:hover{
  border: 2px solid rgb(194, 0, 0);
}

.delete-button{
  padding:11px 25px;
  right: 10%;
  cursor: pointer;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  background-color: rgb(194, 0, 0);
  color: #ffffff;
  border-radius: 5px;
  border: none;
}